*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.ist
*.loa
*.loe
*.lof
*.log
*.lol
*.lot
*.mw
*.run.xml
*.synctex.gz
*.synctex(busy)
*.toc
*.out
pdfa.xmpi
settings.json
diss.pdf
process/promotionsgespraech/Abstract/promotionsgespraech.pdf